/include/ "system-conf.dtsi"
/ {
	chosen {
		bootargs = " earlycon console=ttyPS0,115200 clk_ignore_unused root=/dev/ram0 rw net.ifnames=0 biosdevname=0";
		stdout-path = "serial0:115200n8";
		xlnx,eeprom = &eeprom;
	};
};
&i2c1 {
	i2c-mux@74 {
		i2c_eeprom: i2c@0 {
			eeprom: eeprom@54 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "atmel,24c128";
				reg = <0x54>;
				mac_address: mac-address@20 {
					reg = <0x20 6>;
				};
			};
		};
		i2c_si570_mgt: i2c@3 {
			si570_2: clock-generator@5d { /* USER MGT SI570 - u56 */
				clock-frequency = <156250000>;
			};
		};
	};
};
&gem3 {
	nvmem-cells = <&mac_address>;
	nvmem-cell-names = "mac-address";
};
/ {
	axi_stream_dma_0@b0000000 {
		compatible = "axi_stream_dma";
		reg = <0x0 0xb0000000 0x0 0x10000>;
		interrupts = <0 89 4>;
		interrupt-parent = <&gic>;
	};
};
