/ {
	chosen {
		bootargs = " earlycon console=ttyPS0,115200 clk_ignore_unused root=/dev/ram0 rw";
		stdout-path = "serial0:115200n8";
	};
};
&gem0 {
	local-mac-address = [ff ff ff ff ff ff];
};
/ {
	axi_stream_dma_0@b0000000 {
		compatible = "axi_stream_dma";
		reg = <0x0 0xb0000000 0x0 0x10000>;
		interrupts = <0x0 0x6c 0x4>;
		interrupt-parent = <0x4>;
		slac,acp = <0x0>;
	};
};
&nand0 {
	status = "okay";
	arasan,has-mdma;

	nand@0 {
		reg = <0x0>;
		#address-cells = <0x2>;
		#size-cells = <0x1>;
		nand-ecc-mode = "hw";
		nand-rb = <0x0>;
		label = "main-storage-0";
		partition@0 {
			label = "nand-fsbl-uboot";
			reg = <0x0 0x00000000 0x00400000>;
		};
		partition@1 {
			label = "nand-kernel";
			reg = <0x0 0x00400000 0x01400000>;
		};
		partition@2 {
			label = "nand-bootenv";
			reg = <0x0 0x01800000 0x00400000>;
		};
		partition@3 {
			label = "nand-device-tree";
			reg = <0x0 0x01c00000 0x00400000>;
		};
		partition@4 {
			label = "nand-rootfs";
			reg = <0x0 0x02000000 0x20000000>;
		};
		partition@5 {
			label = "nand-userspace";
			reg = <0x0 0x22000000 0x10000000>;
		};
	};
};
