/ {
	chosen {
		bootargs = " earlycon console=ttyPS0,115200 clk_ignore_unused root=/dev/ram0 rw net.ifnames=0 biosdevname=0 cma=1536M";
		stdout-path = "serial0:115200n8";
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		cma_reserved: cma@0 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x0 0x80000000 0x0 0x60000000>; /* 1.5 GB reserved at 2GB boundary */
			alignment = <0 0x1000>;
			no-map;
		};
	};
};
/*------------------ ETH PHY --------------------*/
/* ETH PHY */
&gem3 {
	status = "okay";
	nvmem-cells = <&mac_address>;
	nvmem-cell-names = "mac-address";
	ethernet_phy0: ethernet-phy@0 {
		compatible = "marvell,88e1510";
		device_type = "ethernet-phy";
		reg = <1>;
	};
};
/*------------------ SD --------------------*/
/* SDIO */
&sdhci1 {
	disable-wp;
	no-1-8-v;
};
/*------------------ I2C --------------------*/
&i2c1 {
	eeprom: eeprom@50 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "atmel,24c08";
		reg = <0x50>;
		mac_address: mac-address@FA {
			reg = <0xFA 6>;
		};
	};
};
/ {
	axi_stream_dma_0@b0000000 {
		compatible = "axi_stream_dma";
		reg = <0x0 0xb0000000 0x0 0x10000>;
		interrupts = <0 89 4>;
		interrupt-parent = <&gic>;
	};
	usp_rf_data_converter@490000000 {
		compatible = "xlnx,usp-rf-data-converter-2.6";
		num-insts = <0x1>;
		param-list = [ ];
		reg = <0x4 0x90000000 0x0 0x40000>;
	};
};
