[Unit]
Description=startup-app-init
Requires=local-fs.target systemd-user-sessions
After=local-fs.target systemd-user-sessions

[Service]
Type=idle
Restart=always
ExecStart=/usr/bin/startup-app-init
StandardOutput=journal+console
  
[Install]
WantedBy=multi-user.target
